{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Articles</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
              <a class="navbar-brand" href="#">Articles</a>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          {{ user.username }}
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="container">
          {% block main %}
          {% endblock %}
      </div>
  </body>
</html>
